body {
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

// media queries
$medium-down: "only screen and (max-width : 639px)" !default;

// scss-lint:disable SelectorFormat
#__next {
  main {
    background-color: #010204;
    margin: 0;
    min-height: calc(100vh - 120px);
    padding: 60px 10px;
    text-align: center;
    width: calc(100vw - 20px);

    .logo {
      height: 20vh;
      margin: auto;
    }

    h1,
    p {
      color: #e4e9ec;
      margin: auto;
      max-width: 700px;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 60px;
    }

    p {
      margin-bottom: 2rem;
    }
  }
}
