beautifulsoup4==4.9.3
click==7.1.2
flask==1.1.2
flask-cors==3.0.9
flask-jwt-extended==3.24.1
flask-mongoengine==0.9.5
Flask-OpenID==1.2.5
graphene==3.0b5
graphql-core==3.1.2
graphql-server[flask]==3.0.0b1
python-slugify==4.0.1
user-agents==2.2.0

python-dotenv==0.14.0
requests==2.24.0
ratelimit==2.2.1

# backoffice
apscheduler==3.6.3

# bitskins
pyotp==2.4.0

# deployment
gunicorn==20.0.4

# sentry
sentry-sdk[flask]==0.18.0
