pre-commit

factory_boy                 ~= 3.2.0
mongomock                   ~= 3.23.0
pytest                      ~= 6.2.5
pytest-cov                  ~= 2.12.1
pytest-env                  ~= 0.6.2
pytest-factoryboy           ~= 2.1.0
pytest-flask                ~= 1.2.0
