black
flake8
isort
pytest                      ~= 6.2.2
mongomock                   ~= 3.22.1
pre-commit
pytest-cov                  ~= 2.11.1
pytest-env                  ~= 0.6.2
pytest-flask                ~= 1.1.0
