beautifulsoup4              ~= 4.9.3
click                       ~= 7.1.2
flask                       ~= 1.1.2
flask-cors                  ~= 3.0.9
flask-jwt-extended          ~= 4.0.2
flask-mongoengine           ~= 1.0.0
Flask-OpenID                ~= 1.2.5
graphene                    ~= 3.0b5
graphql-core                ~= 3.1.2
graphql-server[flask]       ~= 3.0.0b1
python-slugify              ~= 4.0.1
tqdm                        ~= 4.59.0
user-agents                 ~= 2.2.0

python-dotenv               ~= 0.15.0
requests                    ~= 2.25.1
ratelimit                   ~= 2.2.1

# backoffice
apscheduler                 ~= 3.7.0

# bitskins
pyotp                       ~= 2.6.0

# deployment
gunicorn                    ~= 20.0.4

# sentry
sentry-sdk[flask]           ~= 0.19.5
