@font-face {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/fontello.eot?26011871');
  src: url('../fonts/fontello.eot?26011871#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?26011871') format('woff2'),
  url('../fonts/fontello.woff?26011871') format('woff'),
  url('../fonts/fontello.ttf?26011871') format('truetype'),
  url('../fonts/fontello.svg?26011871#fontello') format('svg');
}

.icon.fontello {
  font-family: fontello;
}

.icon.bitskins::before {
  content: '\e800';
}

.icon.skinbaron::before {
  content: '\e803';
}

.icon.csmoney::before {
  content: '\e805';
}
