body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}

// colors
$color0: #010204;
$color1: #335284;
$color2: #527B9B;
$color3: #9FB1BF;
$color4: #C3CDD7;
$color5: #E4E9EC;

// media queries
$medium-up: "only screen and (min-width : 640px)" !default;
$large-up: "only screen and (min-width : 1024px)" !default;
$xlarge-up: "only screen and (min-width : 1440px)" !default;
$xxlarge-up: "only screen and (min-width : 1800px)" !default;

$medium-down: "only screen and (max-width : 639px)" !default;
$large-down: "only screen and (max-width : 1023px)" !default;
$xlarge-down: "only screen and (max-width : 1439px)" !default;

@import './fontello.css';

.modal {
  .ui.loader.active {
    &:before {
      // https://github.com/Semantic-Org/Semantic-UI-React/issues/3133
      border-color: $color5 !important;
    }
    &:after {
      border-color: $color2 transparent transparent !important;
    }
  }
}

#root {

  $topbar-height: 60px;
  $footer-height: 90px;
  $padding-main: 30px;

  $sidebar-width: 260px;
  $sidebar-offset: 60px;

  > nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbar-height;
    z-index: 100;
    background-color: $color0;
    border-radius: 0;

    .item {
      img {
        height: 2.5rem;
        width: auto;
      }
    }

    .menu-settings {
      min-width: 150px;
      .dropdown {
        width: 100%;
        justify-content: center;
        a {
          color: rgba(0, 0, 0, 0.87);
        }
        .text {
          display: flex;
        }
        .item {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  > main {
    padding-top: $topbar-height;
    min-height: calc(100vh - #{$footer-height});
    > div {
      padding-top: $padding-main;
    }
  }

  > footer {
    background-color: $color0;
    color: $color3;
    height: $footer-height;
    padding: 5px 1rem;
    clear: both;
    z-index: 200;
    position: relative;
    ul {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 2rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
      a {
        color: $color3;
      }
    }
  }

  .no-results {
    width: 100%;
    margin-top: 10vh;

    button {
      margin-top: 50px;
    }
  }

  .breadcrumb {
    margin: 1.5rem 0 3rem 0;
  }

  .homepage {
    margin: 0;
    width: 100%;
    background-color: $color0;
    text-align: center;
    color: $color5;
    padding-bottom: 32px;
    min-height: calc(100vh - #{$topbar-height} - #{$footer-height});
    .logo {
      height: 20vh;
      margin: auto;
    }
    h1 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      @media #{$medium-down} {
        font-size: 2rem;
        letter-spacing: normal;
      }
    }
    h2 {
      font-size: 1.5rem;
      line-height: 2.5rem;
      @media #{$medium-down} {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .header {
      color: $color4;
    }

    .carousel {
      div {
        overflow: hidden;
      }
      img {
        transition: transform 0.2s;
        &:hover {
          transform-origin: 50%;
          transform: scale(1.05);
          z-index: 10;
        }
      }
    }
  }

  .skin-list-container {

    .skin-list-filter-container {
      top: $topbar-height;
      background-color: $color0;
      width: $sidebar-width;
      overflow-x: hidden;
      .expand-icon {
        display: none;
      }

      .fields {
        width: $sidebar-width;
        display: flex;
        flex-flow: column;
        padding: 10px;
        .field {
          margin: 10px 0;
          label {
            color: white !important;
          }
        }
      }
    }

    .skin-list {
      margin-bottom: 30px;
      margin-left: $sidebar-width;
      padding: 0 20px;
      width: calc(100% - #{$sidebar-width});

      .skin-list-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .skin {
          margin: 1rem;

          .header {
            a {
              color: $color0;
            }
          }

          img {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.05);
          }

          .stattrak, .souvenir {
            position: absolute;
            right: 5px;
            top: 5px;
          }

          .extra.content {
            height: 100px;
            overflow: hidden;

            .prices {
              display: flex;
              flex-flow: row wrap;

              .price {
                width: 50%;
              }
            }
          }
        }

        .padding-item {
          height: 0;
        }

        .skin, .padding-item {
          flex: 1 1 250px;
          margin: 1rem;
        }
      }

      .loader {
        margin-top: 10vh;
        z-index: 1;
      }
    }

    @media #{$large-down} {
      .skin-list-filter-container {
        margin-left: -#{$sidebar-width} !important;
        width: $sidebar-width + $sidebar-offset;
        transition: margin-left 0.2s;
        .fields {
          padding-right: 0;
        }
        .expand-icon {
          display: block;
          position: fixed;
          z-index: 100;
          margin: 0;
          color: white;
          top: 0;
          right: 0;
          width: $sidebar-offset;
          height: $sidebar-offset;
          line-height: $sidebar-offset;
          text-align: center;
          cursor: pointer;
          font-size: 20px;
          transition: transform 0.2s;
        }
        &.active {
          margin-left: 0 !important;
          .expand-icon {
            transform: rotate(180deg);
          }
        }
      }
      .skin-list {
        width: calc(100% - 60px);
        margin-left: 60px;
      }
    }
  }

  .skin-page {
    max-width: 1800px;
    margin: auto;
    padding-bottom: 30px;

    .skin-image {
      position: relative;
      margin: 30px auto 0 auto;
      max-width: 500px;
      .placeholder {
        img {
          visibility: hidden;
          max-width: 100%;
        }
      }
      .effective {
        position: absolute;
        top: 0;
        img {
          max-width: 100%;
        }
      }
    }
    .select-quality {
      display: flex;
      text-align: center;
      margin-top: 10px;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      > div {
        color: white;
        background-color: $color2;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        &.active {
          background-color: $color1;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .left-panel, .right-panel {
      h3 {
        margin-top: 30px;
      }
    }

    .main-content {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: center;

      .panels {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;

        .left-panel, .right-panel {
          margin: 0 10px;
        }

        .left-panel {
          flex: 1 1 380px;
        }

        .right-panel {
          flex: 1 0 auto;

          table {
            display: block;
            overflow-x: auto;
            max-width: calc(100vw - 40px);

            thead tr th:first-child {
              width: 100%;
            }
          }
        }
      }
      .bottom-panel {
        padding: 0 10px;
        width: 100%;
        h3 {
          margin-top: 30px;
        }
        .prices-history {
          width: 100%;
          .options {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            .fields {
              flex-flow: column;
              margin-right: 30px;
              .field:first-of-type {
                margin-bottom: 10px;
              }
              .field:last-of-type {
                margin-bottom: 15px;
              }
            }
            .skins {
              width: 300px;
            }
          }
        }
      }
    }
  }

  .contact-form {
    .grecaptcha-badge {
      margin-bottom: 1rem;
    }
  }

  .page {
    .header {
      .inline-header {
        display: flex;
        flex-flow: row;
        h1 {
          margin-right: 20px;
        }
      }
      .sub.header {
        line-height: 1.7rem;
        margin-top: 15px;
        margin-bottom: 50px;
      }
    }
    .admin-actions {
      float: right;
      margin-top: $padding-main;
    }
    padding-bottom: 40px;
  }

  a {
    outline: none;
  }
}

.list-management-modal {
  .details-icon {
    text-align: right;
    i {
      margin-left: 5px;
    }
  }
}
